@import url(../vendor/normalize.css);
@import url(../styles/hamburger.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

.page {
  margin: 0 auto;
  padding: 40px 0 60px;
  width: 100%;
  max-width: 1210px;
  min-width: 400px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: rgba(102, 102, 102, 1);
  /* box-sizing: border-box; */
  /* overflow-x: hidden; */
}

.logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_logo {
  background: linear-gradient(90deg, #13b0f5 -0.08%, #ca24b4 63.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.footer_text_logo {
  background: linear-gradient(90deg, #42446E -0.08%, #42446E 63.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.subtext_logo {
  font-size: 12px;
  text-align: center;
}

.logo img {
  height: 100%;
}

a {
  margin: 0;
  padding: 0;
  max-height: 30px;
  text-decoration: none;
  color: rgba(102, 102, 102, 1);
  transition: 0.3s ease;
}

a:hover {
  opacity: 0.7;
  filter: hue-rotate(3rad);
}

.nav .link:hover,
.lang:hover {
  text-decoration: underline rgba(102, 102, 102, 0.9);
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.header {
  margin: 0 auto;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  box-sizing: border-box;
}

.social_network {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.social_network img {
  width: 30px;
  height: 30px;
}

.main {
  margin: 0 auto;
  padding: 0 0 200px;
  width: 100%;
}

.about {
  padding-top: 220px;
  padding-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hello {
  margin: 0;
  width: 636px;
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
  text-align: left;
}

.hello span {
  background: linear-gradient(90deg, #13b0f5 -0.08%, #ca24b4 63.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.avatar {
  width: 349px;
  height: 349px;
  position: relative;
  background-color: white;
  border-radius: 230px;
  box-sizing: border-box;
  transition: 0.3s ease;
}

.avatar img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 230px;
  filter: grayscale();
  transition: 0.3s ease;
  z-index: 4;
}

.avatar img:hover {
  filter: none;
}

.avatar::after {
  content: "";
  background: linear-gradient(180deg, #e70faa 0%, #00c0fd 100%);
  position: absolute;
  left: -9px;
  right: -9px;
  top: -9px;
  bottom: -9px;
  border-radius: 50%;
  z-index: 3;
}

.tech_stack {
  padding-top: 150px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 140px;
}

.stack_title_container {
  text-align: center;
}

.stack_title {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-wrap: nowrap;
  color: rgba(66, 68, 110, 1);
}

.stack_text {
  margin: 0;
  margin-top: 49px;
  font-size: 32px;
  font-weight: 400;
}

.stack_list {
  width: 90%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 75px 100px;
}

.stack_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects {
  padding-top: 100px;
}

.projects_list {
  width: 100%;
  margin-top: 96px;
  gap: 62px 50px;
}

.projects_item {
  width: 370px;
  /* height: 567px; */
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

.projects_img img {
  filter: brightness(.7);
}

.projects_item:hover {
  box-shadow: 4px 4px 60px 0px rgba(0, 0, 0, 0.6);
  .projects_img img {
    transform: scale(1.1);
    filter: none;
  }
}

.text_content {
  height: 302px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.projects_item img {
  width: 100%;
  height: 100%;
  transition: 1.5s ease;
}

.projects_img {
  width: 100%;
  height: 256px;
  object-fit: contain;
  border-radius: 25px 25px 0 0;
  overflow: hidden;
}


.project_title {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  line-height: 26px;
  color: black;
}

.project_text {
  margin: 0;
  margin-top: 17px;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
}

.project_text_stack {
  margin: 0;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}

.project_text_stack span {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: black;
}

.project_links {
  margin-top: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project_link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.project_link p {
  text-decoration: underline;
  color: black;
}

.project_link img {
  width: 20px;
  height: 20px;
}

.footer {
  width: 100%;
}

.footer_border {
  margin: 40px 0 60px;
  width: 100%;
  border: 2px solid rgba(102, 102, 102, 0.3);
}

.footer_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_contacts,
.footer_contacts_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author span {
  background: linear-gradient(90deg, #13b0f5 -0.08%, #ca24b4 63.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.footer_contacts_links {
  gap: 50px;
}

@media screen and (max-width: 1000px) {
  .page {
    padding: 20px;
  }

  .main {
    padding-bottom: 100px;
  }

  .footer_links {
    flex-direction: column;
    gap: 20px;
  }

  .footer_border {
    margin: 20px auto;
  }
  .projects_item:nth-last-child(-n+2) {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .about {
    padding-top: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .header {
    justify-content: flex-end;
  }

  .avatar {
    margin-bottom: 100px;
  }

  .hello {
    text-align: center;
  }

  .nav {
    display: none;
  }

  .tech_stack {
    padding-top: 200px;
  }

  .projects_list {
    margin-top: 60px;
    gap: 30px;
  }
  .lang {
    position: absolute;
    left: 15px;
    top: 15px;
  }
}

@media screen and (max-width: 650px) {
  .hello {
    width: 100%;
    font-size: 48px;
  }

  .footer_logo {
    display: none;
  }
  .footer_contacts {
    justify-content: center;
  }

  .phone {
    text-wrap: nowrap;
  }
  .stack_title {
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
  }
  .stack_text {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .footer_contacts_links {
    flex-direction: column;
    gap: 20px;
  }

  .stack_list {
    gap: 30px 50px;
  }
  .hello {
    font-size: 40px;
    line-height: 49px;
  }
}
